.global{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 250px;
    width: 550px;
    margin: auto;
    border: 1px solid rgb(228, 228, 231);
    border-bottom: 8px solid rgb(218, 204, 204);
    background: rgb(228, 228, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image{
    margin-top: 20px;
}

.about{
   margin: 15px;
}